<div class="container">
  <header>
    <h1>{{ title }}</h1>
    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <!--<a routerLink="/products" routerLinkActive="active">Products</a>-->
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a routerLink="/admin/products" routerLinkActive="active">Admin Products</a>
      <a routerLink="/admin/orders" routerLinkActive="active">Admin Orders</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
